.addButton {
  background-color: #4FF2FF ;
  width: 300px;
  border-radius: 50px;
  margin: 10px;
}

.buttonContainer {
  width: 100%;
  height: 110px;
  background-color: #A3F4FB;
  border-radius: 20px;
}
