.formContainer {
  display: block;
  position: absolute;
  top: 3em;
  left: 15em;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 2;
}

.formContainerVisible {
  opacity: 1;
  transform: scale(1);
}

.formCloseButton {
  background-color: #000000d9;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 20px;
  padding: 20px;
  /* margin: 0.5em; */
  margin: 0em 1em 0em 13em;
  z-index: 2;
}
.formCloseButton i {
  margin-top: 1px;
  margin-left: -7.5px;
}

.header {
  background-color: #562771;
  color: white;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

input[type="text"],
input[type="date"],
input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #562771;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1em;
}

button:hover {
  background-color: #e6e6fa;
  color: #000;
}

.eventAdded {
  color: #000;
}
.timeContainer {
  display: flex;
  /* padding: 1em; */
}

.timeContainer p {
  color: #000;
  padding: 0.5em;
  padding-right: 1em;
}

.timeInput {
  width: 100px;
  text-align: center;
  color: #000 !important;
}

.emojiDropdown {
  /* all: unset; */
  width: 100%;
  height: 30px;
  margin: 0 auto;
  display: flex;
}
