.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
  }
  
  .box {
    position: relative;
    flex: 0 1 calc(25% - 10px); 
    background-color: #3498db; 
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  p {
    margin: 0; 
    color: #ffffff; 
  }
  
  .iconsContainer {
    margin-top: auto; 
    display: flex;
    flex-direction: row; 
    align-items: flex-end; 
    gap: 20px;
  }
  
  .binIcon,
  .penIcon {
    margin-top: 5px; 
    cursor: pointer;
  }
  
 
  

